.app-header {
  color: blue;
  text-align: center;
  margin: 20px;
}

.btn {
  margin: 10px;
  font-size: 10px;
  border-radius: 10px;
  padding: 10px;
}

.password-output {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.container {
  margin: 100px;
  border: 1px solid black;
  padding: 10px;
}
